<h1>Kid show page</h1>

<p><%= @kid.name %> is <%= @kid.age %> years old.</p><br> 
<p>Feeling: <%= @kid.feeling %></p>


<h3>Candy Count: <%= @kid.bucket.candies.count %></h3>

<ul>
<% @kid.bucket.candies.each do |candy| %>
  <li>Name: <%= candy.name %></li>

<% end %>
</ul>

<form action="<%= "/kids/#{@kid.id}/pig-out" %>" method="POST">
<input type="hidden" name="_method" value="PATCH">
<input type="number" name="consumption[number]">




<input type="submit" name="Eat">
</form>

<a href="/houses">Go trick-or-treating</a>


<!-- code the form that will send a patch to "/kids/:id/pig-out"
give it a consumption key with a value of number of candies to eat 
type="number" is probably better than type="text" -->

<!-- puts a link to the houses index page here and call the link "Go trick-or-treating" -->